<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <h1 class='text-center'>Welcome to Avrioc Films</h1>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div class="row">
        
        <% if (user) { %>
            <a class="nav-link" href="/logout">(<%=user.username%>) Logout</a>
        <%} else { %>
            <a class="nav-link" href="/login"> Login </a>
        <%}%>

        <a class="nav-link" href="/films"> Home </a>

    </div>


    <div class="row" style.margin="50px" >
        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        
        <div><b>Title: </b><i><%= film.name %></i></div>
        &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; 
        
        <div><b>Description:</b> <i><%= film.name %></i></div>
        &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; 

        <div><b>Rating:</b> <i><%= film.rating %></i></div>
        &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;

        <div><b>releaseDate:</b> <i><%= film.releaseDate %></i></div>

    </div>

    <div class="row" stype.margin="50px" >
        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        
        <div><b>Genre: </b><i><%= film.genre %></i></div>
        &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; 
        
        <div><b>Country: </b><i><%= film.country %></i></div>
        
    </div>

    <main>
        <div>
            <img src="data:image/<%=film.photo.contentType%>;base64,
                <%=film.photo.data.toString('base64')%>" width='1080px''>
            <div>
                <p></p>
            </div>
        </div>
        <br>

        <p> <br><h4><b>Comments</b></h4></p>

        <div>
            <%film.comments.forEach(function(comment){%>
                <div>
                    <label>By <b><%=comment.createdBy%>:</b></label>
                        &nbsp;&nbsp;
                    <label><i><%=comment.text%></i></label>
                    <p>Posted At: <%=comment.createdAt%></p>
                </div>
                <hr>
            <%})%>
        </div>
    </main>

</body>

</html>