<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <h1 class='text-center'>Avrioc Films</h1>
    <a class="navbar-brand" href="/films/">&nbsp;Home</a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Create Film</a>
    </nav>
    <div class="navbar-nav mr-auto">
        <form action="/films" method="POST" enctype="multipart/form-data">
            <div class="jumbotron">
                <table>
                    <tr>
                        <td>
                            <div><label for="name">Film Title</label></div>
                        </td>
                        <td>
                            <div><input type="text" id="name" value="" name="name" required />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div><label for="name">Description</label></div>
                        </td>
                        <td>
                            <div><input type="text" id="description" value="" name="description" required /></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div><label for="name">Release Date&nbsp; &nbsp; </label></div>
                        </td>
                        <td>
                            <div><input type="date" id="releaseDate" value="" name="releaseDate" required /></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div><label>Rating</label></div>
                        </td>
                        <td>
                            <div><input type="text" id="rating" value="" name="rating" required /></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div><label>Ticket Price</label></div>
                        </td>
                        <td>
                            <div><input type="text" id="ticketPrice" value="" name="ticketPrice" required /></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div><label>Country</label></div>
                        </td>
                        <td>
                            <div><input type="text" id="country" value="" name="country" required /></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div><label>Genre</label></div>
                        </td>
                        <td>
                            <div><input type="text" id="genre" value="" name="genre" required /></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div><label>Photo</label></div>
                        </td>
                        <td>
                            <div><input type="file" id="photo" value="" name="photo" required /></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td />
                        <td><input type="submit" value="Save"></td>

                    </tr>
            </div>
            </table>
        </form>
    </div>

</body>

</html>