<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <h1 class='text-center'>Welcome to Avrioc Films</h1>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <div class="row">
        
        <% if (user) { %>
            <a class="nav-link" href="/logout">(<%=user.username%>) Logout</a>
        <%} else { %>
            <a class="nav-link" href="/login"> Login </a>
        <%}%>

        <a class="nav-link" href="/films/create"> + Create</a>
        <% if (prev > 0) { %>
            <a class="nav-link" href="/films?page=<%= prev %>">
                << Previous </a>
        <%}%>
        <%if (next <= count) {%>
            <a class="nav-link" href="/films?page=<%= next %>"> Next >> </a>
        <%}%>

        <label class="navbar">Get Film By Name</label>
        
        <form action="/films/" method="GET">
            <div>
                <input type="text" id="name" value="" name="name" required />
                <input type="submit" value="Go"></td>
            </div>
        </form>

    </div>


    <div class="row" style.margin="50px" >
        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        
        <div><b>Title: </b><i><%= films[0].name %></i></div>
        &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; 
        
        <div><b>Description:</b> <i><%= films[0].name %></i></div>
        &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; 

        <div><b>Rating:</b> <i><%= films[0].rating %></i></div>
        &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;

        <div><b>releaseDate:</b> <i><%= films[0].releaseDate %></i></div>

    </div>

    <div class="row" stype.margin="50px" >
        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        
        <div><b>Genre: </b><i><%= films[0].genre %></i></div>
        &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; 
        
        <div><b>Country: </b><i><%= films[0].country %></i></div>
        
    </div>

    <main>
        <div>
            <img src="data:image/<%=films[0].photo.contentType%>;base64,
                <%=films[0].photo.data.toString('base64')%>" width='1080px''>
            <div>
                <p></p>
            </div>
        </div>
        <br>

        <form action="/films/<%=films[0]._id%>/comment?page=<%=page%>" method="POST">
            <div>
                <label>Post your comment here</label>
                <table>
                    <tr>
                        <td>
                            <textarea name="text" rows="2" cols="120"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Post"></td>
                    </tr>
                </table>
            </div>
        </form>

        <p> <br><h4><b>Comments</b></h4></p>

        <div>
            <%films[0].comments.forEach(function(comment){%>
                <div>
                    <label>By <b><%=comment.createdBy%>:</b></label>
                        &nbsp;&nbsp;
                    <label><i><%=comment.text%></i></label>
                    <p>Posted At: <%=comment.createdAt%></p>
                </div>
                <hr>
            <%})%>
        </div>
    </main>

</body>

</html>