<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <main>
        <div class="jumbotron text-center">
            <h2 class="text-center">OOPS! Film Not Found!! </h2>
            <hr>
            <h5>Error Message:</h5>
            <h5 class="text-center">No film with the name <b><i><%=name%></i></b> Found in our database!!</h2>
            <hr>
            <a class="nav-link" href='/films'>Search Again</a>
        </div>
</body>

</html>