<meta charset="UTF-8">
<title>Avrioc Films</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="icon" href="/public/images/favicon.png" type="image/gif" sizes="16x16">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        padding-top: 100px;
    }
</style>