<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <main>
        <div class="jumbotron text-center">
            <h2 class="text-center">OOPS! Login Unsuccessful.</h2>
            <hr>
            <h5>Error Message:</h5>
            <%=info%>
            <hr>
            <a class="nav-link" href='/login'> Login</a>
        </div>
</body>

</html>