<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <h1 class='text-center'>Welcome to Avrioc Films</h1>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <main>
        <div class="jumbotron">
            <form action="/login" method="post">
                Username:<br>
                <input type="text" name="username" placeholder="Username" required><br><br>
                Password:<br>
                <input type="password" name="password" placeholder="Password" required><br><br>
                <input type="submit" value="Login">
            </form>
        </div>
</body>

</html>