<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <main>
        <div class="jumbotron text-center">
            <h4>
                OOPS! You are not logged in.
                Only Logged in users can post a comment.
                <br>Please <a class='nav-link' href='/login'> Login</a> to Continue!!</a>
            </h4>
        </div>
</body>

</html>